/* div.middle-container:hover{
  background-color: #dbdbdb;
}
div.sec-container:hover{
  background-color: #dbdbdb;
}
div.third-container:hover{
  background-color: #dbdbdb;
}
div.fourth-container:hover{
  background-color: #dbdbdb;
}
a:link {
  color: #004aad;
}
a:visited {
  color: black;
} */
.head{
  padding: 0px;
}
.headSection{
  padding-top: 50px;
  /* background-image: url("/Users/joceychan/Documents/GitHub/cv/wallpaper2BG.png"); */
  background-size:contain;
}
img {
  image-rendering: optimizeQuality;
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.oneColumnTable {
  padding-top: 2%;
}
.headerRow:after {
  content: "";
  display: table;
  clear: both;
}
.headerColumn{
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 32px;
  float: left;
  width: 33.33%;
}
.about-grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 70px;
  /* background-color: red; */
}
.about-grid-container > div {
  padding-top: 10px;
  text-align: left;
  /* background-color: grey; */
}
#aboutTitle {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
  float: left;
}
.aboutDescription {
  font-size: 20px;
  padding-left: 10px;
}
.eduandexp-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
  /* background-color: red; */
}
.eduandexp-grid-container > div {
  text-align: left;
  /* background-color: grey; */
}
.educationTitle {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
  float: left;
}
.experienceTitle {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
  float: right;
}
.eduDescription {
  font-size: 20px;
  padding-left: 10px;
}
.expDescription {
  font-size: 20px;
  padding-left: 10px;
}
.projectSec{
  padding-top: 10%;
  padding-left: 3%;
}
/* .middle-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px

}
.sec-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
}
.third-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
}
.fourth-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
} */