body{
  margin: 0%;
}
/* Home Page header Section */
.headSection{
  padding-top: 50px;
  padding-bottom: 70px;
  background-image: url("../images/butterflyBGI.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}
.JocelynProfileImage {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.jocelynName{
  font-family: playfair display,serif;
  text-align: center;
  font-size: 50px; 
  color: white; 
  margin-bottom: 2px;
  margin-top: 10px;
}
.despHeaderWords-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.descripDot {
  font-family: playfair display,serif;
  font-size: 30px;
  color: white;
  align-items: center;
}
.descripWordOne {
  font-family: playfair display,serif;
  font-size: 20px;
  color: white;
  text-align: right;
  align-items: baseline;
}
.descripWordTwo {
  font-family: playfair display,serif;
  font-size: 20px;
  color: white;
  text-align: center;
  align-items: baseline;
}
.descripWordThree {
  font-family: playfair display,serif;
  font-size: 20px;
  color: white;
  text-align: left;
  align-items: baseline;
}
.headerRow{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
}
.headerColumn{
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
}
.headerColumn a:link {
  color: white;
  text-decoration: none;
}
.headerColumn a:visited {
  color: white;
  text-decoration: none;
}
.headerColumn a:hover {
  color: #FFD31A; 
}
.headerColumn a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
/* Body Section 1 About */
.about-grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 30px;
}
.about-grid-container > div {
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
#about {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
}
.aboutDescription {
  font-size: 22px;
  font-family: playfair display,serif;
}
/* Education and Experience Section */
.eduandexp-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 90px;
}
.eduandexp-grid-container > div {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}
.eduAndExpTitle {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
  float: left;
}
.eduAndExpDescription {
  font-family: playfair display,serif;
  font-size: 22px;
  padding-left: 10px;
}

/* Skills Section */
#skillsLangTechTitle {
  font-family: playfair display,serif;
  font-style: italic;
  font-size: 40px;
  padding-left: 120px;
  margin-top: 15px;
  margin-bottom: 40px;
}
/* Soft Grid */
.ps-grid-container{
  display: grid;
  grid-template-columns: auto 25% auto 25%;
  gap: 10px;
  padding-bottom: 30px;
  justify-items: center;
  align-items: baseline;
}
.ps-grid-container > div {
  text-align: center;
  margin-left: 5px;
}
.progress-text1, .progress-text2, .progress-text3, .progress-text4, .progress-text5, .progress-text6, .progress-text7, .progress-text8, .progress-text9, .progress-text10, .progress-text11, 
.progress-TechSkill1, .progress-TechSkill2, .progress-TechSkill3, .progress-TechSkill4, .progress-TechSkill5, .progress-TechSkill6, .progress-TechSkill7, .progress-TechSkill8, 
.progress-TechSkill9, .progress-TechSkill10, .progress-LangSkill1, .progress-LangSkill2 {
  font-size: 22px;
  font-family: playfair display,serif;
}
.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4, .progress-bar5, .progress-bar6, .progress-bar7, .progress-bar8, 
.progress-bar9, .progress-bar10, .progress-bar11, .progress-Techbar, .progress-Techbar2, .progress-Techbar3, .progress-Techbar4, .progress-Techbar5, 
.progress-Techbar6, .progress-Techbar7, .progress-Techbar8, .progress-Techbar9, .progress-Techbar10, .progress-LangBar1, .progress-LangBar2 {
  width: 70%;
  height: 10px;
  background-color: rgb(223, 221, 221);
  border-radius: 5px;
  overflow: hidden;
}
.progress1, .progress2, .progress3, .progress4, .progress5, .progress6, .progress7, .progress8, .progress9, .progress10, .progress11,
.progress-Tech1, .progress-Tech2, .progress-Tech3, .progress-Tech4, .progress-Tech5,  .progress-Tech6, .progress-Tech7, .progress-Tech8,
.progress-Tech9, .progress-Tech10, .progress-Lang1, .progress-Lang2 {
  height: 100%;
  background-color: #007c3a;
  width: 0%;
  transition: width 0.5s ease-in-out;
  margin-bottom: 10px;;
}

/* Tech Grid */
.tech-grid-container{
  display: grid;
  grid-template-columns: 25% 25% auto 25%;
  gap: 10px;
  padding-bottom: 30px;
  justify-items: center;
  align-items: baseline;
}
.tech-grid-container > div {
  text-align: center;
  margin-left: 5px;
}

/* Lang Grid */
.lang-grid-container {
  display: grid;
  grid-template-columns: 25% auto 20% 25%;
  gap: 10px;
  padding-bottom: 30px;
  justify-items: center;
  align-items: baseline;
}
.lang-grid-container > div {
  text-align: left;
  margin-left: 5px;
}

.skillsSection{
  font-size: 22px;
  padding-top: 7px;
  padding-left: 210px;
  padding-right: 200px;
  padding-bottom: 30px;
}
section {
  position: relative;  
  margin-bottom: 10px;
  align-items: center;
  display: flex
}
#skillType {
  text-align: left;
  z-index: 2;
  margin-block-start: 1em;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0px;
}
section::before {
  content: "";
  position: absolute;
  top: 75%;
  left: 40%;
  width: 60%;
  height: 3px;
  background-color: #7e7777;
  transition: width 0.1s ease-in-out;
  transform: translateY(-50%);
  z-index: 1;
}

section.active::before {
  width: 0;
}

/* Scroll-based activation of the gliding line */
body {
  scroll-behavior: smooth;
}
.techDescription{
  font-size: 20px;
  padding-left: 10px;
}
.languagesDescription{
  font-size: 20px;
  padding-left: 10px;
}
.projectSec{
  padding-top: 10%;
  padding-left: 3%;
}
@media (max-width: 900px){
  .JocelynProfileImage {
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
  .jocelynName{
    font-family: playfair display,serif;
    text-align: center;
    font-size: 35px; 
    color: white; 
    padding-top: 5px;
    margin-bottom: 0px;
  }
  .jocelynName p{
    margin-bottom: 0px;
  }
  .despHeaderWords-container {
    grid-template-columns: auto auto 130px auto auto;
    padding-left: 50px;
    padding-right: 50px;
  }
  .descripWordOne {
    font-size: 15px;
  }
  .descripWordTwo {
    font-size: 15px;
  }
  .descripWordThree {
    font-size: 15px;
  }
  .headerRow{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-top: 8px;
    gap: 8px;
  }
  .headerColumn{
    font-family: playfair display,serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
  }
  #about{
    font-size: 30px;
    margin-left: 20px;
  }
  .about-grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .about-grid-container > div {
    text-align: center;
    margin-top: 20px;
    margin-left:30px;
    margin-right:30px;
    font-size: 15px;
  }
  .eduandexp-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 7px;
    padding-top: 10px;
  }
  .eduandexp-grid-container > div {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .eduAndExpTitle {
    font-family: playfair display,serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
  }
  .eduAndExpDescription {
    font-size: 15px;
    padding-left: 0%;
  }
  #skillsLangTechTitle {
    font-size: 30px;
    text-align: center;
    padding-left: 0%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  /* Soft Grid */
  .ps-grid-container{
    gap: 5px;
    align-items: center;
    padding-bottom: 0%;
  }
  .ps-grid-container > div {
    text-align: center;
    margin-left: 0;
    padding-bottom: 0%;
  }
  .progress-text1, .progress-text2, .progress-text3, .progress-text4, .progress-text5,
  .progress-text6, .progress-text7, .progress-text8, .progress-text9, .progress-text10,
  .progress-text11{
    font-size: 15px;
  }
  /* Tech Grid */
  .tech-grid-container{
    align-items: center;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .tech-grid-container > div {
    margin-right: 5px;
  }
  .progress-TechSkill1, .progress-TechSkill2, .progress-TechSkill3, .progress-TechSkill4, .progress-TechSkill5, .progress-TechSkill6, .progress-TechSkill7, .progress-TechSkill8, 
  .progress-TechSkill9, .progress-TechSkill10{
    font-size: 15px;
  }
  /* Lang Grid */
  .lang-grid-container {
    padding-top: 0%;
    padding-bottom: 0%;
    align-items: baseline;
    grid-template-columns: 25% 24% 20% 25%;
  }
  .progress-LangSkill1, .progress-LangSkill2 {
    font-size: 15px;
  }
}