div.middle-container:hover{
  background-color: #dbdbdb;
}
div.sec-container:hover{
  background-color: #dbdbdb;
}
div.third-container:hover{
  background-color: #dbdbdb;
}
div.fourth-container:hover{
  background-color: #dbdbdb;
}
a:link {
  color: #004aad;
}
a:visited {
  color: black;
}
.header {
  background-color: red;
  text-align: center;
  padding: 20px;
}
img {
  image-rendering: optimizeQuality;
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.column{
  font-size: 30px;
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.middle-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px

}
.sec-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
}
.third-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
}
.fourth-container{
  margin-left: 10px;
  background-color: #d6e5fa;
  width: 90px;
  height: 50px;
  border: solid 5px
}